<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzBBrdtrgQsBZk-xIJDFro5yqOOlNg65c</string>
	<key>GCM_SENDER_ID</key>
	<string>1083846018645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiddo.ak</string>
	<key>PROJECT_ID</key>
	<string>kiddoandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>kiddoandroid.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083846018645:ios:f7f426def598d14080b6dc</string>
</dict>
</plist>